{% extends "navigation_bar.html" %}

{% block content %}
    <h1>Projects Made</h1>

    <div class="image-text-container" style="display: flex; align-items: center;padding: 30ex;">
        <img src="{{ url_for('static', filename='password_manager.png') }}" alt="password manager" style="width: 500px; margin-right: 5px;">
        <h3 style="text-align: right; margin-left: 5%;"><span style="color: red;">Password Manager</span><br>Manages passwords with an encrypted database to keep them secure.<br>Uses a Sqlite3 database and cryptography module.<br>
        <br><br><a href="https://github.com/jean0t/PasswordManager-Py">Visit here</a></h3>
      </div>
    
      <div class="image-text-container" style="display: flex; align-items: center;padding: 30ex;">
        <img src="{{ url_for('static', filename='api.png') }}" alt="api with fastapi" style="width: 500px; margin-right: 5px;">
        <h3 style="text-align: right; margin-left: 10%;"><span style="color: red;">Fast API</span><br>RESTful API created using FastAPI framework.<br><br><a href="https://github.com/jean0t/fastapi_api">Visit here</a></h3>
      </div>
    
      <div class="image-text-container" style="display: flex; align-items: center;padding: 30ex;">
        <img src="{{ url_for('static', filename='currency_converter.png') }}" alt="currency converter" style="width: 500px; margin-right: 5px;">
        <h3 style="text-align: right; margin-left: 10%;"><span style="color: red;">Currency Converter</span><br>GUI application that converts different currencies with updated rates.<br>
        Utilizes webscrapping to get the information with BeautifulSoup, creates the GUI with the module PySimpleGUI.<br><br>
        <a href="https://github.com/jean0t/currency-converter">Visit here</a></h3>
      </div>
{% endblock %}